*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}

.cont{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #67e3cb, #4b81e4);
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2{
    color: #002765;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    font-family:sans-serif;

}

.todo h2 img{
    width: 25px;
    margin-left: 10px;

}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    flex: 1;
    height: 50px;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;

}

button:active{
    transform: scale(0.99);
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-unchecked-checkbox-32.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(images/icons8-checked-checkbox-32.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: black;
    background-color: red;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;

}

ul li span:hover{
    background: #edeef0;

}

